.conditions .content {
  border-radius: 16px;
  background: #EDF2FF;
  overflow: hidden;

  h3 {
    font-size: 24px;
  }

  .visual {
    opacity: 1;
    transform: translateY(-25%);
    pointer-events: none;
  }

  .visual img {
    display: block;
    width: 100%;
    height: auto;
  }
}

sunmar-button::part(control) {
  width: calc(100% - 32px);
  margin-inline: 16px;
}

.promo-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  position: relative;

  height: 100%;
  max-height: 340px; /* закрытое состояние */
  transition: max-height 0.55s ease;
}

.promo-card.expanded {
  max-height: 352px; /* максимум по макету */

  .promo-card__top {
    min-height: 245px;
  }
}

.promo-card__top {
  position: relative;
  margin: 16px 16px 0;
  padding: 20px 24px;
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  min-height: 110px;
}

.promo-card__headline,
.promo-card__terms,
.visual {
  transition:
          opacity 0.35s ease,
          transform 0.5s ease;
}

.promo-card__headline {
  opacity: 1;
  transform: translateY(0);
  text-align: center;
}

.promo-card__headline .sunmar-h3 {
  margin: 0;
}

.promo-card__terms {
  position: absolute;
  inset: 20px 24px;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}

.promo-card__terms p {
  margin: 0;
}

.promo-card__terms p + p {
  margin-top: 12px;
}

.promo-card__terms-note {
  font-size: 12px;
  line-height: 1.35;
}

.promo-card.expanded .promo-card__headline {
  opacity: 0;
  transform: translateY(-16px);
  pointer-events: none;
}

.promo-card.expanded .promo-card__terms {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.promo-card.expanded .visual {
  opacity: 0;
  transform: translateY(80px);
  pointer-events: none;
}